<div class="panel panel-default">
  <div class="panel-heading">heading</div>
  <div class="panel-body">
    <li><b>name:</b>
      <%= e.name %>
    </li>
    <li><b>age:</b>
      <%= e.age %>
    </li>
  </div>
</div>
